*{
	margin: 0;
	padding: 0;
}
html,body{
	.container{
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		// 导航区域
		.nav{
			float: left;
			width: 20%;
			min-width: 200px;
			height: 480px;
			background-color: #FFF;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			border: 1px solid #ededed;
			border-right: none;
			.nav li{
				list-style-type: none;
				.nav li a{
					display: inline-block;
					width: 100%;
					height: 40px;
					text-decoration: none;
					text-align: center;
					line-height: 40px;
					color: #707171;
					font-size: 15px;
				}
				.nav li a:hover{
					color: #FFF !important;
					background-color: #ee1e6c;
				}
				.nav li .active{
					color: #FFF !important;
					background-color: #ee1e6c;
				}
			}
		}
		// 内容区域
		.content_main{
			position:relative;
			float: right;
			width: 80%;
			min-width: 600px;
			background-color: #FFF;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			border: 1px solid #ededed;
		}
	}
}
